.app.ligth {
  --bg-color: #fff;
  --inverted--bg-color: #1e1e1e;

  --primary-color: rgba(59, 91, 252, 255);
  --secondary-color: #1e1e1e;
  --inverted-primary-color: rgba(255, 69, 124, 255);
  --inverted-secondary-color: rgb(20, 204, 251);
}
