.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editBtn {
    margin-left: auto;
    
    &:first-of-type {
        margin-right: 10px;
    }
}

.blockButtons {
    display: flex;
}

.data {
    margin-top: 30px;
    border: 1px solid var(--inverted-bg-color);
    padding: 10px;
}

.input {
    margin-top: 10px;

    &:first-of-type {
        margin-top: 0;
    }
}

.loading,
.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.AvatarWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.editing {
    border: 1px solid var(--inverted-primary-color);
}